/* pkgdown/extra.css */

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

body.home .navbar-brand img {
  max-height: none !important;
  height: 150px !important;
  width: auto !important;
}

.container {
  max-width: 85%;
}

@media (min-width: 1400px) {
  main + .col-md-3 {
    margin-left: 0;
    padding-left: 5rem;
  }
}
